/* html{
    background-color: grey;
}

.row{
    background-color: #02f9f9 !important;
    /* display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap:700px;
    column-gap:20px; */
    /* border:1px solid green;
}

.row div{
    border:1px solid yellow;
} 
.bord_red{
    border: 1px solid red;
}
.bord_green{
    border: 1px solid green;
} */
 
.bord_red{
    border: 1px solid red;
}

